[videos]
;  All those paths need to be accessible on the same partition. You can use symlink to help that if needed.
; full path to the videos directory
videos_path=/mnt/hdd/videos
; full path to the thumbnails directory, if any
thumbnails_path=/mnt/hdd/thumbnails
; Full path to the video player directory. This will be used to generate the relative paths in the JSON file.
player_public_path=/mnt/hdd/web_vr_video_player
